.header {
    text-align: center;
}

.header__mainHeader {
    color: red;
    text-shadow: 1px 2px 5px red;
    margin-bottom: 80px;
}

.headerImage {
    width: 200px;
    margin: 0 auto;
    border-radius: 75px;
    outline: 10px solid rgb(79, 79, 79);
    outline-offset: -1px;
    box-shadow: 0px 0px 60px 30px #828087;
}